*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#header{
    width:100%;
    height: 80px;
    margin:0 auto;
}

#content{
    width:65%;
    height:600px;
    margin: 5px 1%;
    margin-left: 50px;
    float:left;
}

canvas{
    margin: 0px;
    border: 1px solid #000;
    background-color: white;
}

#toolbar {
    width:30%;
    height:600px;
    margin-top:5px;
    margin-bottom:5px;
    float:right;
    background-color: #2f2f2f;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    height: 30px;
    padding: 20px;
    margin:0px auto;
    align-items: center;
    text-align: center
}

a { 
    margin:0px auto;
    text-decoration:none;
}

.rad {
    margin:0px auto;
}

.radcontrol {
    width: 30px;
    height: 30px;
    margin:0px auto;
    background-color: #4f4f4f;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.radcontrol:hover {
    background-color: #818181;
}

.button {
    margin:0px auto;
    margin-right: 10px;
    height: 30px;
    padding: 8px;
    color: white;
    background-color: #434343;
}

.button:hover {
    background-color: #818181;
}

#colors {
    margin:0px auto;
}

.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
    background-color: cyan;
}

.swatch.active {
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

input {
    width: 100px;
}

select {
    width: 100px;
}